name: Cache

on:
  push:
    branches:
      - "v*"

env:
  BRANCH_NAME: ${{ github.ref_name }}

jobs:
  build-and-upload:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner:
          - ubuntu-24.04
          # - ubuntu-24.04-arm

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-25.11

      - name: Connect to Cachix
        uses: cachix/cachix-action@v14
        with:
          name: openmesh
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Use config from branch
        run: sed -i -e "s|\"github:Openmesh-Network/xnodeos\"|\"github:Openmesh-Network/xnodeos/${BRANCH_NAME}\"|g" ./config/flake.nix

      - name: Upload XnodeOS default config to Cachix
        run: nix build ./config#nixosConfigurations.xnode.config.system.build.toplevel --accept-flake-config --print-out-paths --fallback | cachix push openmesh
