name: Installer

# git tag vx.x.x
# git push origin vx.x.x
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

env:
  BRANCH_NAME: ${{ github.ref_name }}

jobs:
  build-and-upload:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner:
          - ubuntu-24.04
          # - ubuntu-24.04-arm

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-25.11

      - name: Use config from branch
        run: sed -i -e "s|\"github:Openmesh-Network/xnodeos\"|\"github:Openmesh-Network/xnodeos/${BRANCH_NAME}\"|g" ./config/flake.nix

      - name: Build config
        run: nix build ./config#nixosConfigurations.xnode.config.system.build.toplevel --accept-flake-config

      - name: Build kexec installer
        run: nix build ./installer#kexec --accept-flake-config

      - name: Add kexec installer to release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: false
          files: ./result/xnodeos-kexec-installer-*.tar.gz

      # - name: Build iso installer
      #   run: nix build ./installer#iso --accept-flake-config

      # - name: Add iso installer to release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     make_latest: false
      #     files: ./result/iso/xnodeos-iso-installer-*.iso
